.optionElements{
  display: flex;
  padding-top: 10px;
}
.flex-item-4{
  flex:1;
  max-width: 12px;
}
.flex-item-5{
  flex:10;
  padding-left:10px;
  color: $defaultMenuTextColor;
}
.flex-item-6{
  flex:3;
  text-align: right;
}
