/*Option List*/

.OptionList{
  display: inline-block;
  justify-content: center;
  width: 25%;
  color: $defaultFontColor;

  a{
    text-decoration: none;
    cursor: pointer;
    color: $defaultFontColor;
  }

  .productListItem{
    width: 100%;
    text-align: center;
    margin-bottom: 34px;
  }

  .productListItem:hover{
    box-shadow: 0 0 0 .2rem #56c47a;
    border-radius: 0.3rem;
  }

  .productListItemWrapper{
    padding: 0 2rem 1rem;
  }

  h4{
    font-size: 18px;
    line-height: 24px;

    font-weight: bold;
    text-align: left;
  }

  .itemText{
    font-size: 14px;
    line-height: 20px;
    text-align: left;
  }

  .productListIcons{
    display: flex;
    flex-direction: row;
    padding-top: 4rem;
  }

  .heart{
    text-align: right;
  }
}