.StarRatingComponent{
  flex:1;
  text-align: left;

  ul li{
    display: inline;
  }

  li{
    padding-right: 0.4rem;
  }

  .starIcon{
    color: #fdd201;
  }
  .starIcon2{
    color: #ff0000;
  }
}
