body {
  background-color: $defaultBackgroundColor;
  text-align: left;
  font-size: 100%;
}

.flex-container{
  display: -webkit-flex;
  display: flex;
}

.optionMenu{
  width: 225px;
  min-width:225px;
  padding-right: 25px;
}
.optionMenu h3{
  font-size: 18px;
  color:#010101;
  padding-bottom: 40px;
}
.flex-item-3{
  width: 100%;
  padding-left: 55px;
  border-left: 1px solid #ebebeb;
}
.productList{
  display: flex;
  color: $defaultFontColor;
}

.productListItem{
  width: 20%;
  margin: 10px;
  text-align: center;
}

.productListItem:hover{
  box-shadow: 0 0 0 .2rem #56c47a;
  border-radius: 0.3rem;
}
.wrap{
  flex-wrap: wrap;
}
