body {
  background-color: $defaultBackgroundColor;
  text-align: left;
}

.flex-container{
  display: -webkit-flex;
  display: flex;
}

.optionMenu{
  width: 225px;
  min-width:225px;
  padding-right: 25px;
}
.optionMenu h3{
  font-size: 18px;
  color:#010101;
  padding-bottom: 40px;
}
.flex-item-3{
  width: 100%;
  padding-left: 55px;
  border-left: 1px solid #ebebeb;
}



