.FilterValueWithCheckbox{
  display: flex;
  padding-top: 10px;

  .elementName {
    flex: 1;

    label {
      flex: 1;
      color: $defaultFilterTextColor;
    }

    input[type="checkbox"] + label::before {
      content: '\a0';
      display: inline-block;
      vertical-align: .2rem;
      width: 0.8rem;
      height: 0.8rem;
      background: #fff;
      border: 1px solid #c9c9c9;
      margin-right: .2rem;
      border-radius: .2rem;
      text-indent: .15rem;
      line-height: .65;
    }

    input[type="checkbox"]:checked + label::before {
      content: '\2713';
      background-color: #56c47a;
      border: 1px solid #56c47a;
      color: #fff;
    }

    input[type="checkbox"] {
      position: absolute;
      opacity: 0;
      z-index: 1;
      cursor: pointer;
    }

    .elemAmount{
      text-align: right;
      color: $defaultFilterAmountColor;
    }
  }
}

